<div class="header" [style.background]="heroTea.toppings.toppingsBackgroundColor">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-2">
				<img
					class="header-brand"
					src="assets/icons/Boba_icon.svg"
					alt="Logo"
				/>
			</div>
			<div class="col-md-7"></div>
			<div class="col-md-3 header-navigation">
				<span class="header-options">Menu</span>
				<span class="header-options">Toppings</span>
				<span class="header-options">Contact</span>
			</div>
		</div>
	</div>
</div>
<app-hero [tea]="heroTea"></app-hero>
<div class="container">
	<div class="col-md-12">
		<div
			class="padding-top-xlarge padding-bottom-xlarge flex-column-container xxlarge-gap"
		>
			<div class="flex-column-container medium-gap">
				<span class="content-title">Menu</span>
				<div class="menu-item-list fill xlarge-gap">
					<app-boba-card
						*ngFor="let tea of teas"
						[tea]="tea"
					></app-boba-card>
				</div>
			</div>

			<div class="flex-column-container medium-gap">
				<span class="content-title">Toppings</span>
				<div class="menu-item-list fill">
					<app-topping-card
						*ngFor="let topping of toppings"
						[topping]="topping"
					></app-topping-card>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contact">
	<div class="container">
		<div class="col-md-12">
			<app-contact
				class="padding-top-big padding-bottom-big"
			></app-contact>
		</div>
	</div>
</div>
<div class="footer-background-pattern"></div>
