<div class="padding-top-xlarge padding-bottom-xlarge flex-column-container large-gap">
	<span class="title">Contact</span>

	<iframe
		title="Showing location on Google Maps"
		src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1197.610889811822!2d-0.12168975200967191!3d51.5082370399597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shu!2shu!4v1691427787125!5m2!1shu!2shu"
		height="450"
		style="border: 0"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"
	></iframe>
	<div class="fill">
		<div class="flex-column-container xsmall-gap">
			<div class="d-flex align-items-center xsmall-gap">
				<i class="material-icons">location_on</i>
				<span class="information-title">Address</span>
			</div>
			<span class="information-description">
				1234 Tapioca Street 2, Boba Town
			</span>
		</div>
		<div>
			<div class="flex-column-container xsmall-gap">
				<div class="d-flex align-items-center xsmall-gap">
					<i class="material-icons">call</i>
					<span class="information-title">Phone</span>
				</div>
				<span class="information-description"> 555-555-5555 </span>
			</div>
		</div>
		<div>
			<div class="flex-column-container xsmall-gap">
				<div class="d-flex align-items-center xsmall-gap">
					<i class="material-icons">schedule</i>
					<span class="information-title">Opening hours</span>
				</div>
				<div>
					<div class="d-flex small-gap">
						<div
							class="information-description"
							style="line-height: 30px"
						>
							Monday to Friday:<br />
							Saturday and Sunday:
						</div>
						<div
							class="information-description"
							style="text-align: right; line-height: 30px"
						>
							11:00 AM to 9:00 PM<br />
							12:00 PM to 10:00 PM
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
